<footer>
  <div class="foot-top">
    <div class="foot-brand">
      <span class="nav-name">{{site.brand}}</span>
      <p>{{site.footerBlurb}}</p>
    </div>
    <div class="foot-col">
      <h4>Collection</h4>
      <a href="/light-and-bright">Light &amp; Bright</a>
      <a href="/mountain-green">Mountain Green</a>
      <a href="/golden-harvest">Golden Harvest</a>
      <a href="/light-and-bright#brewing">Brewing Guide</a>
    </div>
    <div class="foot-col">
      <h4>The House</h4>
      <a href="/#origin">Our Origin</a>
      <a href="/#ritual">The Ritual</a>
      <a href="/account">Your Account</a>
      <a href="/track">Track an Order</a>
    </div>
    <div class="foot-col">
      <h4>Connect</h4>
      <a href="#">Instagram</a>
      <a href="#">Journal</a>
      <a href="#">Contact</a>
      <a href="#">Newsletter</a>
    </div>
  </div>
  <div class="foot-bottom">{{site.footerLegal}}</div>
</footer>
